DATABASE_URL="postgresql://USER:PASSWORD@YOUR-NEON-HOST.neon.tech/DBNAME?sslmode=require"
CLERK_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."
RESEND_API_KEY="re_..."
QUOTE_FROM_EMAIL="quotes@yourdomain.com"
